---
---

<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>papercherry | MHCI 2012 Capstone Project</title>
  <style type="text/css">
    {% include css/bootstrap.min.css %}
    {% include css/screen.css %}
  </style>
</head>

<body data-spy="scroll">
<header>
  <section id="cover" class="row">
    <section class="container">
      <h1>papercherry</h1>
      <nav>
        <ul>
          <li><a href="#project">Project</a></li>
          <li><a href="#design">Design</a></li>
          <li><a href="#process">Process</a></li>
          <li><a href="#team">Team</a></li>
        </ul>
      </nav>
    </section>
  </section> <!-- #cover -->
  <section class="container row">
    <h2 id="greet">Greeting Cards 2.0</h2>
    <h2 id="future">&ndash; The Future of Social Expressions &ndash;</h2>
  </section>
</header>


<section id="project" class="container row">
  <blockquote><p>In an information-rich world, the scarce resource is attention.</p><p class="attrib">&ndash; Herbert Simon, 1969 &ndash;</p></blockquote>

  <p>Team papercherry is developing the greeting card of the future. We're working with HP to envision and prototype how people will acknowledge each other on special occasions in an increasingly digital world.</p>
</section> <!-- #project -->

<section id="design" class="container row">
  <h3>Design</h3>
  <p>During the summer semester, we will be developing a prototype based off of the insights we gained in the spring semester's research phase.</p>
</section> <!-- #design -->

<section id="process" class="container row">
  <h3>Process</h3>
  <p>We started with a kick-off meeting in January, where we met with our clients from HP and went over HP's prior work and future vision for the project. As HP had already conducted research looking at the way people sent cards, we wanted to both confirm their findings and discover new potential international markets, younger audiences and males.</p>

  <p>We used </p>
  <ol>
    <li>
      <p><strong>Semi-Structured Interviews</strong></p>
      <p></p>
    </li>
    <li>
      <p><strong>Relationship Maps</strong></p>
      <p></p>
    </li>
    <li>
      <p><strong>Contextual Inquiries (CI)</strong></p>
      <p></p>
    </li>
  </ol>
</section> <!-- #process -->

<section id="team" class="container row">
  <h3>Team</h3>
  <p>papercherry is the combination of 5 MHCI students at <a href="www.hcii.cmu.edu">Carnegie Mellon University</a>. They are sponsored by <a href="www.hp.com" title="HP corporate home page">HP</a>.</p>
  <ul id="members">
    <li>
      <figure id="rachel" title="Rachel Jakab"></figure>
      <section>
        <p><strong>Rachel Jakab</strong> <br/><em>Project Manager</em></p>
        <p>Rachel's bio will go here, where she will talk about stuff. This is approximately how long the bios will be, only a few sentences.</p>
      </section>
    </li>
    <li>
      <figure id="nick" title="Nick Yeh"></figure>
      <section>
        <p><strong>Nick Yeh</strong> <br/><em>Design Lead</em></p>
        <p>Nick's bio will go here, where she will talk about stuff. This is approximately how long the bios will be, only a few sentences.</p>
      </section>
    </li>
    <li>
      <figure id="arun" title="Arun Ganesan"></figure>
      <section>
        <p><strong>Arun Ganesan</strong> <br/><em>Research Lead</em></p>
        <p>Arun's bio will go here, where she will talk about stuff. This is approximately how long the bios will be, only a few sentences.</p>
      </section>
    </li>
    <li>
      <figure id="brian" title="Brian Yee"></figure>
      <section>
        <p><strong>Brian Yee</strong> <br/><em>Tech Lead</em></p>
        <p>Brian did his undergrad at Carnegie Mellon, where he majored in Information Systems. He's worked for IBM and Google.</p>
      </section>
    </li>
    <li>
      <figure id="julien" title="Julien Altieri"></figure>
      <section>
        <p><strong>Julien Altieri</strong> <br/><em>Web &amp; Documentation Lead</em></p>
        <p>Julien's bio will go here, where she will talk about stuff. This is approximately how long the bios will be, only a few sentences.</p>
      </section>
    </li>
  </ul>
</section> <!-- #team -->

<footer class="container row">
  <a href="www.hp.com" title="HP corporate home page"><img src="img/logo_hp.png" alt="HP Logo"></a>
  <a href="www.hcii.cmu.edu" title="Human-Computer Interaction Institute home page"><img src="img/logo_hcii.png" alt="HCII Logo"></a>
  <a href="www.cmu.edu" title="Carnegie Mellon University home page"><img src="img/logo_cmu.png" alt="CMU Logo"></a>
</footer>
<script type="text/javascript">
  {% include js/jquery.min.js %}
  {% include js/bootstrap.min.js %}

  /** Scrolling and stuff **/
  $('#navbar').scrollspy();

</script>

</body>
</html>