---
---

<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>papercherry | MHCI 2012 Capstone Project</title>
  <style type="text/css">
    {% include css/bootstrap.min.css %}
    {% include css/screen.css %}
  </style>
</head>

<body data-spy="scroll">
<header>
  <section id="cover" class="row">
    <section class="container">
      <h1>papercherry</h1>
      <nav>
        <ul>
          <li><a href="#project">Project</a></li>
          <li><a href="#design">Design</a></li>
          <li><a href="#process">Process</a></li>
          <li><a href="#team">Team</a></li>
        </ul>
      </nav>
    </section>
  </section> <!-- #cover -->
  <section class="container row">
    <h2 id="greet">Greeting Cards 2.0</h2>
    <h2 id="future">&ndash; The Future of Social Expressions &ndash;</h2>
  </section>
</header>



<section id="project" class="container row">
  <blockquote><p>In an information-rich world, the scarce resource is attention.</p><p class="attrib">&ndash; Herbert Simon, 1969 &ndash;</p></blockquote>

  <p>Team papercherry is developing the greeting card of the future. We're working with HP to envision and prototype how people will acknowledge each other on special occasions in an increasingly digital world.</p>
</section> <!-- #project -->

<section id="design" class="container row">
  <h3>Design</h3>
  <p>During the summer semester, we will be developing a prototype based off of the insights we gained in the spring semester's research phase. We interviewed participants, conducted contextual inquiries, and visited card stores for guerilla research.</p>
</section> <!-- #design -->

<section id="process" class="container row">
  <h3>Process</h3>
  <p>The project started off with a kick-off meeting in January. We worked with HP and discussed the various needs and goals of the projects.</p>
</section> <!-- #process -->

<section id="team" class="container row">
  <h3>Team</h3>
  <p>papercherry is the combination of 5 MHCI students at <a href="www.hcii.cmu.edu">Carnegie Mellon University</a>. They are sponsored by <a href="www.hp.com" title="HP corporate home page">HP</a>.</p>
  <ul id="members">
    <li>
      <img src="img/team_rachel.jpg" alt="Rachel Jakab">
      <section>
        <p><strong>Rachel Jakab</strong> <br/><em>Project Manager</em></p>
        <p>Rachel's bio will go here, where she will talk about stuff. This is approximately how long the bios will be, only a few sentences.</p>
      </section>
    </li>
    <li>
      <img src="img/team_rachel.jpg" alt="Rachel Jakab">
      <section>
        <p><strong>Rachel Jakab</strong> <br/><em>Project Manager</em></p>
        <p>Rachel's bio will go here, where she will talk about stuff. This is approximately how long the bios will be, only a few sentences.</p>
      </section>
    </li>
    <li>
      <img src="img/team_rachel.jpg" alt="Rachel Jakab">
      <section>
        <p><strong>Rachel Jakab</strong> <br/><em>Project Manager</em></p>
        <p>Rachel's bio will go here, where she will talk about stuff. This is approximately how long the bios will be, only a few sentences.</p>
      </section>
    </li>
    <li>
      <img src="img/team_rachel.jpg" alt="Rachel Jakab">
      <section>
        <p><strong>Rachel Jakab</strong> <br/><em>Project Manager</em></p>
        <p>Rachel's bio will go here, where she will talk about stuff. This is approximately how long the bios will be, only a few sentences.</p>
      </section>
    </li>
    <li>
      <img src="img/team_rachel.jpg" alt="Rachel Jakab">
      <section>
        <p><strong>Rachel Jakab</strong> <br/><em>Project Manager</em></p>
        <p>Rachel's bio will go here, where she will talk about stuff. This is approximately how long the bios will be, only a few sentences.</p>
      </section>
    </li>
  </ul>
</section> <!-- #team -->

<footer class="container row">
  <a href="www.hp.com" title="HP corporate home page"><img src="img/logo_hp.png" alt="HP Logo"></a>
  <a href="www.hcii.cmu.edu" title="Human-Computer Interaction Institute home page"><img src="img/logo_hcii.png" alt="HCII Logo"></a>
  <a href="www.cmu.edu" title="Carnegie Mellon University home page"><img src="img/logo_cmu.png" alt="CMU Logo"></a>
</footer>
<script type="text/javascript">
  {% include js/jquery.min.js %}
  {% include js/bootstrap.min.js %}

  /** Scrolling and stuff **/
  $('#navbar').scrollspy();

</script>

</body>
</html>