---
---

<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>papercherry | MHCI 2012 Capstone Project</title>
  <style type="text/css">
    {% include css/bootstrap.min.css %}
    {% include css/screen.css %}
  </style>
</head>

<body>
<header>
  <section id="cover" class="row">
    <section class="container">
      <h1>papercherry</h1>
      <nav>
        <ul>
          <li><a href="#project">Project</a></li>
          <li><a href="#design">Design</a></li>
          <li><a href="#process">Process</a></li>
          <li><a href="#team">Team</a></li>
        </ul>
      </nav>
    </section>
  </section> <!-- #cover -->
  <section class="container row">
    <h2 id="greet">Greeting Cards 2.0</h2>
    <h2 id="future">&ndash; The Future of Social Expressions &ndash;</h2>
  </section>
</header>



<section id="project" class="container row">
  <p>Team papercherry embarked on an 8-month project to discover what's next in the world of cardgiving.</p>
</section> <!-- #project -->

<section id="design" class="container row">
  <h3>Design</h3>
  <p>Design content.</p>
</section> <!-- #design -->

<section id="process" class="container row">
  <h3>Process</h3>
  <p>Process content.</p>
</section> <!-- #process -->

<section id="team" class="container row">
  <h3>Team</h3>
  <p>Team content.</p>
  <ul id="members">
    <li>
      <img src="img/team_rachel.jpg" alt="Rachel Jakab">
    </li>
    <li>
      <img src="img/team_rachel.jpg" alt="Rachel Jakab">
    </li>
    <li>
      <img src="img/team_rachel.jpg" alt="Rachel Jakab">
    </li>
    <li>
      <img src="img/team_rachel.jpg" alt="Rachel Jakab">
    </li>
    <li>
      <img src="img/team_rachel.jpg" alt="Rachel Jakab">
    </li>
  </ul>
</section> <!-- #team -->

<footer class="container row">
  <a href="www.hp.com" title="HP corporate home page"><img src="img/logo_hp.png" alt="HP Logo"></a>
  <a href="www.hcii.cmu.edu" title="Human-Computer Interaction Institute home page"><img src="img/logo_hcii.png" alt="HCII Logo"></a>
  <a href="www.cmu.edu" title="Carnegie Mellon University home page"><img src="img/logo_cmu.png" alt="CMU Logo"></a>
</footer>
</body>
</html>