---
---

<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>papercherry | MHCI 2012 Capstone Project</title>
  <style type="text/css">
    {% include css/bootstrap.min.css %}
    {% include css/screen2.css %}
  </style>
</head>

<body>
<div class="container">
<header class="row">

  <section class="span4 offset8">
    <h1>papercherry</h1>
  </section>
</header>

<section id="intro" class="row">
  <section class="span6">
    <h2 id="greet">Greeting Cards 2.0</h2>
    <h2 id="future">The Future of Social Expressions</h2>
  </section>


  <section class="span6">
    <p>Team papercherry embarked on an 8-month project to discover what's next in the world of cardgiving.</p>
  </section>
</section> <!-- #intro -->
</div> <!-- Container -->
</body>
</html>