/*
  Colors
  Red: #991b1e


*/
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes slide-in {
  0% {
    top: -100px;
    opacity: 0;
  }

  80% {
    top: 10px;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes highlight {

}

html {
  border-top: 4px solid #991b1e;
}

body {
  overflow-y: scroll;
  background: rgb(240, 240, 240);
  background: -o-radial-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
  background: -moz-radial-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
  background: -webkit-radial-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(255, 255, 255)), to(rgb(240, 240, 240)));
}

h1 {
  margin: 1em auto;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url('img/logo_s.png') no-repeat;
  height: 45px;
  position: relative;
  -webkit-animation-name: slide-in;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: once;
  -webkit-animation-duration: 0.5s;
}

h2 {
  font-family: 'BebasNeueRegular', sans-serif;
  font-weight: normal;
  font-size: 4em;
  line-height: 0.9;
  color: #FFF;
  text-align: center;
}

h3 {
   font-family: 'BebasNeueRegular', sans-serif; 
   font-weight: normal;
   font-size: 2em;
}

header {
  height: 450px;
  background: url('img/card_bg_d.jpg') no-repeat;
  background-size: cover;
}

header h1 {
  width: 295px;
}

header h2 {
  margin: 0;
  text-shadow: 1px 1px 1px black;
}

#cover {
  background: rgba(255, 255, 255, 0.8);
  padding-top: 75px;
  margin-bottom: 75px;
}

#future {
  font-size:2em;
  color: #991b1e;
}

nav {
  text-align: center;
}

nav ul {
  margin-left: -40px;
}

nav li {
  list-style-type: none;
  display: inline-block;
}

nav a {
  font-family: 'BebasNeueRegular', sans-serif;
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}

nav a:hover {
  text-decoration: none;
}

/* TEAM */
#members {
  text-align: center;
}

#members li {
  display: inline-block;
  list-style-type: none;
  margin: 15px 10px;
  width: 270px;
}

#members img {
  border-radius: 50%;
  box-shadow: inset 0 0 3px white, 0 0 0 3px #991b1e, 0 0 0 7px black;
}

#members strong {
  color: #991b1e;
}

#members section {
  height: 175px;
}

/* FOOTER */
footer {
  border-top: 1px solid #666;
  text-align: right;
  margin-bottom: 100px;
}

footer a {
  margin: 10px;
}