/*
  Colors
  Red: #991b1e


*/
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes slide-in {
  0% {
    top: -100px;
    opacity: 0;
  }

  80% {
    top: 10px;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes highlight {

}

html {
  border-top: 4px solid #991b1e;
}

body {
  background: rgb(240, 240, 240);
  background: -o-radial-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
  background: -moz-radial-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
  background: -webkit-radial-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(255, 255, 255)), to(rgb(240, 240, 240)));
/*  background: url('img/card_bg.jpg') no-repeat;
  background-size: cover;*/
}

header {
  padding: 1em 0;
  border-bottom: 1px solid #AAA;
}

header section {
  position: relative;
  -webkit-animation-name: slide-in;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: once;
  -webkit-animation-duration: 0.5s;
}

h1 {
  margin-top: 1em;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url('img/logo_s.png') no-repeat;
  height: 45px;
}

h2 {
  font-family: 'BebasNeueRegular', sans-serif;
  font-weight: normal;
  font-size: 3.5em;
  line-height: 0.9;
}

#intro {
  margin-top: 2em;
}

#intro h2 {
  margin: 0;
}

h2#greet {
  margin-top: 0.3em;
}

#future {
  font-size: 2em;
}