<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>papercherry | MHCI 2012 Capstone Project</title>
  <style type="text/css">
    {% include css/bootstrap.min.css %}
    {% include css/screen.css %}
  </style>
  <script type="text/javascript">
  {% include js/ga.js %}
  </script>
</head>

<body>
<header>

  <div>
    <h1 id="logo">Papercherry</h1>
  <nav>
  <ul>
    <li><a href="#project">Research</a></li>
    <li><a href="#design">Design</a></li>
    <li><a href="#process">Solution</a></li>
    <li><a href="#team">Team</a></li>
  </ul>

  </nav>

  </div>
</header>

{{ content }}

<footer class="container">
  <a href="http://www.hp.com" title="HP corporate home page"><img src="img/logo_hp.png" alt="HP Logo"></a>
  <a href="http://www.hcii.cmu.edu" title="Human-Computer Interaction Institute home page"><img src="img/logo_hcii.png" alt="HCII Logo"></a>
  <a href="http://www.cmu.edu" title="Carnegie Mellon University home page"><img src="img/logo_cmu.png" alt="CMU Logo"></a>
</footer>
</body>
</html>
